.header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fefada;
  gap: 30px;
  font-family: "Caveat", cursive;
  font-size: 100px;
  font-weight: bold;
}

.wait-icon,
.draw-icon,
.youWin-icon,
.youLost-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #eddb56;
}

.wait,
.win,
.lost,
.draw {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.win,
.lost,
.draw {
  display: none;
}
